.formio-form {
  position: relative;
  min-height: 80px;
}

.formio-disabled-input .form-control.flatpickr-input {
  background-color: #eee;
}

.formio-component.has-error .invalid-feedback {
  display: block;
}

.formio-wysiwyg-editor {
  min-height: 200px;
  background-color: #fff;
}

.has-feedback .form-control {
  padding-right: 10px;
}

.has-feedback .form-control[type=hidden] {
  padding-right: 0px;
}

.has-error.bg-danger {
  padding: 4px;
}

.ql-source:after {
  content: "[source]";
  white-space: nowrap;
}

.quill-source-code {
  width: 100%;
  margin: 0px;
  background: rgb(29, 29, 29);
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  font-size: 15px;
  outline: none;
  padding: 20px;
  line-height: 24px;
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none;
  display:none;
}

.formio-component-tags tags {
  background-color: #fff;
}

.field-required:after {
  content:" *";
  color:red;
}

.glyphicon-spin {
  -webkit-animation: formio-spin 1s infinite linear;
  -moz-animation: formio-spin 1s infinite linear;
  -o-animation: formio-spin 1s infinite linear;
  animation: formio-spin 1s infinite linear;
}

@-moz-keyframes formio-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes formio-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes formio-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-icon-right {
  margin-left: 5px;
}

.formio-component-submit .submit-success::after {
  font-family: 'Glyphicons Halflings';
  content: '\e013';
  position: relative;
  right: -4px;
  top: 1;
  line-height: 1;
}

.formio-component-submit .submit-fail::after {
  font-family: 'Glyphicons Halflings';
  content: '\e014';
  position: relative;
  right: -4px;
  top: 1;
  line-height: 1;
}

.formio-component-submit .submit-fail[disabled] {
  opacity: 1;
}

.form-control.flatpickr-input {
  background-color: #fff;
}

td > .form-group {
  margin-bottom: 0;
}

.signature-pad {
  position: relative;
}

.signature-pad-body {
  overflow: hidden;
}

.signature-pad-canvas {
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #f4f4f4;
}

.btn.signature-pad-refresh {
  position:absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 3px;
  line-height: 0;
}

[dir="rtl"] .btn.signature-pad-refresh {
  left: unset;
  right: 0;
}

.choices__list--dropdown .choices__item--selectable{
  padding-right: 0px;
}

.signature-pad-refresh img {
  height: 1.2em;
}

.signature-pad-footer {
  text-align: center;
  color: #C3C3C3;
}

.loader-wrapper {
  z-index: 1000;
  position:absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color:rgba(0, 0, 0, 0.1);
}

.loader {
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  z-index: 10000;
  display: inline-block;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.choices__list--dropdown {
  z-index: 100;
}

.choices__list--multiple .choices__item {
  border-radius: 0;
  padding: 2px 8px;
  line-height: 1em;
  margin-bottom: 6px;
}

.choices__list--single {
  padding: 0;
}

.choices__input {
  padding: 2px;
}

/* fix for choices.js .choices__input container in rtl */
.choices[dir="rtl"] > * {
  text-align: right;
}
/* end fix for choices.js .choices__input container in rtl */

/* fix for choices.js deletable items in rtl */
.choices[dir="rtl"] .choices__list--multiple .choices__item[data-deletable] {
  padding-left: 5px;
  float: right;
}

.choices[dir="rtl"] .choices__list--multiple .choices__item[data-deletable] .choices__button {
  float: left;
  margin: 0 8px 0 -4px;
  padding-left: unset;
  padding-right: 16px;
  border-left: unset;
  border-right: 1px solid #008fa1;
}
/* end fix for choices.js deletable items in rtl */

.formio-component-file .fileSelector {
  padding: 15px;
  border: 2px dashed #ddd;
  text-align: center;
}

.formio-component-file .fileSelector.fileDragOver {
  border-color: #127abe;
}

.formio-component-file .fileSelector .glyphicon, .formio-component-file .fileSelector .fa {
  font-size: 20px;
  margin-right: 5px;
}

[dir="rtl"] .formio-component-file .fileSelector .fa, [dir="rtl"] .formio-component-file .fileSelector .glyphicon {
  margin-right: unset;
  margin-left: 5px;
}

.formio-component-file .fileSelector .browse {
  cursor: pointer;
}

@-webkit-keyframes formio-dialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes formio-dialog-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes formio-dialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes formio-dialog-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.formio-dialog {
  box-sizing: border-box;
  font-size: 0.8em;
  color: #666;
}

.formio-dialog *,
.formio-dialog *:before,
.formio-dialog *:after {
  box-sizing: inherit;
}

.formio-dialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* fix for Scrollbars not clickable on overflow #552 */
  background: rgba(0, 0, 0, 0.4);
  animation: formio-dialog-fadein 0.5s;
  /* end fix for Scrollbars not clickable on overflow #552 */
}

.formio-dialog.formio-dialog-disabled-animation,
.formio-dialog.formio-dialog-disabled-animation .formio-dialog-overlay,
.formio-dialog.formio-dialog-disabled-animation .formio-dialog-content {
  -webkit-animation: none!important;
  animation: none!important;
}

.formio-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadein 0.5s;
  animation: formio-dialog-fadein 0.5s;
  /* fix for Scrollbars not clickable on overflow #552 */
  margin-right: 15px;
  background: transparent;
  /* end fix for Scrollbars not clickable on overflow #552 */
}

.formio-dialog-no-overlay {
  pointer-events: none;
}

.formio-dialog.formio-dialog-closing .formio-dialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadeout 0.5s;
  animation: formio-dialog-fadeout 0.5s;
}

.formio-dialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadein 0.5s;
  animation: formio-dialog-fadein 0.5s;
  pointer-events: all;
}

.formio-dialog.formio-dialog-closing .formio-dialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: formio-dialog-fadeout 0.5s;
  animation: formio-dialog-fadeout 0.5s;
}

.formio-dialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '×';
  cursor: pointer;
}

html.formio-dialog-open,
body.formio-dialog-open {
  overflow: hidden;
}

@-webkit-keyframes formio-dialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes formio-dialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes formio-dialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

@keyframes formio-dialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.formio-dialog.formio-dialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px;
}

.formio-dialog.formio-dialog-theme-default.formio-dialog-closing .formio-dialog-content {
  -webkit-animation: formio-dialog-flyout .5s;
  animation: formio-dialog-flyout .5s;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
  -webkit-animation: formio-dialog-flyin .5s;
  animation: formio-dialog-flyin .5s;
  background: #f0f0f0;
  border-radius: 5px;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 65%;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.formio-clickable {
  cursor: pointer;
}

.component-settings .nav>li>a {
  padding: 8px 10px;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close:before {
  display: block;
  padding: 3px;
  background: transparent;
  color: #bbb;
  content: '×';
  font-size: 26px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-close:hover:before,
.formio-dialog.formio-dialog-theme-default .formio-dialog-close:active:before {
  color: #777;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-message {
  margin-bottom: .5em;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input {
  margin-bottom: 1em;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input textarea,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="text"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="password"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="email"],
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-input textarea:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="text"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="password"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="email"]:focus,
.formio-dialog.formio-dialog-theme-default .formio-dialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-buttons {
  *zoom: 1;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button:focus {
  -webkit-animation: formio-dialog-pulse 1.1s infinite;
  animation: formio-dialog-pulse 1.1s infinite;
  outline: none;
}

@media (max-width: 568px) {
  .formio-dialog.formio-dialog-theme-default .formio-dialog-button:focus {
    -webkit-animation: none;
    animation: none;
  }
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button.formio-dialog-button-primary {
  background: #3288e6;
  color: #fff;
}

.formio-dialog.formio-dialog-theme-default .formio-dialog-button.formio-dialog-button-secondary {
  background: #e0e0e0;
  color: #777;
}

.formio-dialog-content .panel {
  margin: 0;
}

.formio-placeholder {
  position:absolute;
  color: #999;
}

.formio-dialog .formio-dialog-close {
  cursor: pointer;
}

.formio-iframe {
  border: none;
  width: 100%;
  height: 1000px;
}

.inline-form-button {
  margin-right: 10px;
}

.tooltip {
  opacity: 1;
}

.tooltip[x-placement="right"] .tooltip-arrow {
  border-right: 5px solid black;
}

.tooltip[x-placement="right"] .tooltip-inner {
  margin-left: 8px;
}

.control-label--bottom {
  margin-bottom: 0;
  margin-top: 5px;
}

.formio-component-label-hidden {
  position: relative;
}

.control-label--hidden {
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 1.5em;
}

.formio-component-datetime .control-label--hidden.field-required {
  right: 45px;
  z-index: 3;
}

.formio-component-survey .control-label--hidden.field-required,
.formio-component-selectboxes .control-label--hidden.field-required {
  top: 0;
}

.formio-component-resource .control-label--hidden.field-required,
.formio-component-select .control-label--hidden.field-required {
  right: 40px;
  z-index: 2;
}

.checkbox-inline label,
.radio-inline label {
  font-weight: 400;
  cursor: pointer;
}

.editgrid-listgroup {
  margin-bottom: 10px;
}

.tree-listgroup {
  flex-direction: row;
}

.formio-component-submit .has-error {
  display: none;
}

.formio-component-submit button[disabled]+.has-error {
  display: block;
}

.formio-choices.form-group {
  margin-bottom: 0;
}

.formio-choices[data-type=select-multiple] .form-control {
  height: auto;
}

.form-control.formio-multiple-mask-select {
  width: 15%;
  z-index: 4;
}

.form-control.formio-multiple-mask-input {
  width: 85%;
}

.input-group.formio-multiple-mask-container {
  width: 100%;
}

.formio-component .table {
  margin-bottom: 0;
}

.formio-hide-label-panel-tooltip {
  margin-top: -10px;
  margin-left: -10px;
}

.is-disabled .choices__list--multiple .choices__item {
  padding: 5px 10px;
}

.is-disabled .choices__list--multiple .choices__item .choices__button {
  display: none;
}

.has-error.alert-danger .form-group {
  color: #333;
}

.formio-collapse-icon {
  cursor: pointer;
  color: #666;
  font-size: 0.6em;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.2em 0.4em;
  vertical-align: top;
  margin-right: 4px;
  margin-top: 1px;
}

[dir="rtl"] .formio-collapse-icon {
  margin-right: unset;
  margin-left: 4px;
}

.formio-component-datetime .form-control[type="datetime-local"] ~ .input-group-addon,
.formio-component-dateTime .form-control[type="datetime-local"] ~ .input-group-addon {
  width: auto;
}

.formio-component-select select[disabled="disabled"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.formio-component-select div[disabled="disabled"] button,
.formio-component-select .choices.is-disabled[data-type*=select-one]:after {
  display: none;
}
